.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
backend/db.sqlite3
backend/__pycache__/*.pyc
backend/backend/__pycache__/*.pyc
backend/api/__pycache__/*.pyc
backend/api/migrations/__pycache__/*.pyc
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/tdnn_1a_sp/graph/HCLG.fst
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/tdnn_1a_sp/final.mdl
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/ivector_extractor/splice_opts
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/ivector_extractor/online_cmvn.conf
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/ivector_extractor/global_cmvn.stats
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/ivector_extractor/final.mat
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/ivector_extractor/final.ie
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/ivector_extractor/final.dubm
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/conf/online_win.conf
backend/api/kaldi/aidatatang_200zh/s5/data/lang/words.txt
backend/api/kaldi/aidatatang_200zh/s5/data/test/spk2utt_2
backend/api/kaldi/aidatatang_200zh/s5/data/test/*.scp
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/final.mdl
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/frame_subsampling_factor
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/phones.txt
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/tree
backend/api/kaldi/aidatatang_200zh/s5/exp/chain/nnet_online/conf/*.conf
backend/api/kaldi/aidatatang_200zh/s5/data/aidatatang_200zh/corpus/test/G0036/*.wav
backend/api/kaldi/aidatatang_200zh/s5/20190619.txt
