.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
api/model_best.pth.tar
api/ocr/models/*.pth
api/ocr/models/*.h5
api/ocr/models/*.pbtxt
api/ocr/models/*.weights
api/ocr/models/*.pb
api/sensitives/*.csv
api/ocr/__pycache__/*
api/ocr/apphelper/__pycache__/*
api/ocr/application/__pycache__/*
api/ocr/crnn/__pycache__/*
api/ocr/text/__pycache__/*
api/ocr/text/detector/__pycache__/*
api/ocr/text/utils/__pycache__/*
violentsurveillance/__pycache__/*